*{
    margin: 0;
    padding: 0;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

header a {
    color: firebrick;
    padding: 25px;
    font-size: 30px;
    text-decoration: none;
}

a:hover{
    color: black;
}

header {
    text-align: center;
    height: 60px;
}

main {
    text-align: center;
    height: 600px;
}

footer {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

footer div {
    padding: 10px;
    flex: 1;
}

footer a {
    display: flex;
    padding: 0px;
    color: blue;
    text-align: left;
    font-size: 15px;
}

.imagem6 {
    margin-top: 100px;
    transition: all .5s;
}

.imagem6:hover {
    border: 10px solid #781f40;
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
}
