*{
    margin: 0;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

header a {
    color: firebrick;
    padding: 25px;
    font-size: 30px;
    text-decoration: none;
}

a:hover{
    color: black;
}

header {
    text-align: center;
    height: 60px;
}

main {
    height: 600px;
    display: flex;
    flex-direction: column;
}

div#main-top {
    display: flex;
    flex-direction: row;
    flex: 1;
}

div#main-top-left {
    flex: 0.5;
}

div#main-top-right {
    padding: 25px;
    flex: 2;
}

main p {
    color: black;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.2;
    text-indent: 50px;
}

img{
    width: 100%;
}

div#main-bottom {
    padding: 25px;
    flex: 1;
}

footer {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

footer div {
    padding: 10px;
    flex: 1;
}

footer a {
    display: flex;
    padding: 0px;
    color: blue;
    text-align: left;
    font-size: 15px;
}

/* Contato */
form{ 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

fieldset { 
    padding: 20px; 
    text-align: center;
    background-color: lightgray;
    border-radius: 50px 20%;
    border-bottom: 1px solid black;
}

input {
    width: 100%; 
    height: 25px;
    border: none;        
    border-radius: 5px;
    background-color: whitesmoke;
}

textarea {
    width: 250px;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

button {
    background-color: #d3d3d3;
    border-color: transparent;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:focus{
    background-color: gray;
    color: white;
}
