*{
    margin: 0;
    padding: 0;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

header a {
    color: firebrick;
    padding: 25px;
    font-size: 30px;
    text-decoration: none;
}

a:hover{
    color: black;
}

header {
    text-align: center;
    height: 60px;
}

main {
    height: 600px;
}

img{
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

footer div {
    padding: 10px;
    flex: 1;
}

footer a {
    display: flex;
    padding: 0px;
    color: blue;
    text-align: left;
    font-size: 15px;
}

form{ 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

fieldset { 
    padding: 20px; 
    text-align: center;
    margin-top: 30px;
    border: none;
    border-radius: 0% 10%;
    background-color: lightgray;
}

input {
    width: 100%; 
    height: 25px;
    border: none;        
    border-radius: 5px;
    background-color: whitesmoke;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

button {
    background-color: #d3d3d3;
    border-color: transparent;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
    color: white;
}